.nav.navbar.navbar-toggleable-md
  a.navbar-brand
    img(v-bind:src="getLogo()")
  div.collapse.navbar-collapse#navbarNav
    if user
      ul.navbar-nav.ml-auto      
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            if user.profile.picture
              img(src=user.profile.picture).account--image-navbar
            span= user.profile.name || user.email || user.id
            i.caret
          ul.dropdown-menu.account-dropdown
            li.dropdown-item
              a(href='/account') My Account
            li.divider
            li.dropdown-item
              a(href='/logout') Logout