.nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  a.navbar-brand
    img(src="/Moocher-logo.png")
  div.collapse.navbar-collapse#navbarNav
    if user
      ul.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined).nav-link
          a(href='/') Home
        li.nav-link
          a(href='/activity') Activites
    ul.navbar-nav.ml-auto
      if !user
        li.nav-link
          a(href='/login') Login
      else
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            if user.profile.picture
              img(src=user.profile.picture)
            span= user.profile.name || user.email || user.id
            i.caret
          ul.dropdown-menu
            li
              a(href='/account') My Account
            li.divider
            li
              a(href='/logout') Logout