extends layout

block content
    span {{message}}
        div(v-for="activity of activities")
            p Last Update: {{ activity.lastUpdate }}
            p Turn: {{ activity.turn.profile.name }}
            input(type='hidden', name='_csrf', value=_csrf)
            button(@click="updatePost(activity)").btn.btn-success Change Turn