extends layout

block content
    form(method="POST", action="/", v-on:submit.prevent="findUser")
        div(v-bind:class='[emailSearchStatusGroup]').form-group
            p {{searchEmail}}
            input(type="email", placeholder="Enter an email", name="email", v-model='searchEmail', v-bind:class='[emailSearchStatus]').form-control
    form(method="POST", action="/", v-on:submit.prevent="newActivity")
        div(v-bind:class='[showDescForm]').form-group
            p {{searchEmail}}
            input(type="text", placeholder="Enter a description", name="desc", v-model='actDesc').form-control
    div(v-for="activity of activities" class="activity")
        div(class="wrapper-center")
            i(v-bind:class="getSymbol") 
            div {{ activity.desc }}
        div(class="wrapper-inner")
            div
                p Last Update: {{ activity.lastUpdate }}
            div
                //- p Turn: {{ activity.turn.profile.name }}
                input(type='hidden', name='_csrf', value=_csrf)
                button(@click="updatePost(activity)").btn.btn-success Change Turn