block content
    div#app
        form(method="POST", action="/", v-on:submit.prevent="findUser")
            div(v-bind:class='[emailSearchStatusGroup]').form-group
                input(type="email", placeholder="Enter an email", name="email", v-model='searchEmail', v-bind:class='[emailSearchStatus]', autocomplete="off").form-control
                p.form-control-feedback {{errorMessage}}
        form(method="POST", action="/", v-on:submit.prevent="newActivity")
            div(v-bind:class='[showDescForm]').form-group
                input(type="text", placeholder="Enter a description", name="desc", v-model='actDesc', autocomplete="off").form-control
        div(v-for="activity of activities" class="activity")
            div.activity-close
                i.fa.fa-times
            div(class="wrapper-center")
                i(v-bind:class="getSymbol(activity)") 
                div {{ activity.desc }}
            div(class="wrapper-inner")
                div
                    img(v-bind:src="getProfileImage(activity)")
                    p(v-if="activity.turn.profile !== undefined") It's {{ activity.turn.profile.name }} turn
                    p Last Update: {{ activity.lastUpdate }}
                div
                    input(type='hidden', name='_csrf', value=_csrf)
                    button(@click="updatePost(activity)").btn.btn-success Change Turn