extends layout

block content
  img(src='/Moocher-logo.png')
  p.lead Now you can easily Mooch with your friends!
  hr  
  if !user
    .row
      .col-sm-6
        a.btn.btn-primary.btn-facebook.btn-social.col(href='/auth/facebook')
          i.fa.fa-facebook
          | Sign in with Facebook
      .col-sm-6
        a.btn.btn-primary.btn-twitter.btn-social.col(href='/auth/twitter')
          i.fa.fa-twitter
          | Sign in with Twitter
  else
    include activities