@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './modules/theme-dark.scss';
@import './modules/theme-light.scss';
@import './lib/font-awesome/font-awesome.scss';

$color1 : #1ABC9C;
$color2 : #2ECC71;
$color3 : #3498DB;
$color4 : #9B59B6;
$color5 : #34495E;

$penColor1: #b1db73;
$penColor2: #f3bb72;
$penColor3: #ef7899;
$penColor4: #53d1d2;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 75px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    p,
    ul {
        margin-bottom: 0;
    }
}

// Input Fields
// -------------------------
textarea {
    resize: vertical;
}

// Alerts
// -------------------------
.alert {
    margin-top: 20px;
}

// Thumbnails
// -------------------------
.thumbnail {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------
.fa {
    margin-right: 6px;
}

.navbar-brand img{
    width: 150px;
}

.activity{
    padding: 18px 10px;
    position: relative;
    height: 100px;

    transition: all .5s cubic-bezier(0.59, 0, 0, 1.01);
    -moz-transition: all .5s cubic-bezier(0.59, 0, 0, 1.01);
    -webkit-transition: all .5s cubic-bezier(0.59, 0, 0, 1.01);
    cursor: pointer;
    overflow: hidden;

    &.active {
        height: 320px;

        .wrapper-inner {
            opacity: 1;
            -webkit-filter: blur(0px);
            -moz-filter: blur(0px);
            filter: blur(0px);
        }
    }

    &:nth-child(4n+2){
        background-color: $penColor1;
    }

    &:nth-child(4n+3){
        background-color: $penColor2;
    }

    &:nth-child(4n+0){
        background-color: $penColor3;
    }

    &:nth-child(4n+1){
        background-color: $penColor4;
    }

    i {
        &:before{
            margin-right: 5px;
            font-size: 2em;
        }
    }

    .symbol{
        height: 48px;
        width: 48px;
    }

    .wrapper-center{
        text-align: center;

        div {
            font-size: 20px;
            font-family: roboto;
            font-weight: bold;
        }
    }

    .wrapper-inner{
        position: absolute;
        top: 100px;
        transition: top .4s, opacity .8s, filter .5s;
        -moz-transition: top .4s, opacity .8s, -moz-filter .5s;
        -webkit-transition: top .4s, opacity .8s, -webkit-filter .5s;
        -webkit-filter: blur(10px);

    }
}

.m-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.account-dropdown {
    width: 100%;
}

.activity-close {
    display: none;
    position: absolute;
}

.active .activity-close {
    display: block;
}

///// Image-picker css /////
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; }
  ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
  ul.thumbnails.image_picker_selector li.group {width:100%;} 
  ul.thumbnails.image_picker_selector li.group_title {
    float: none; }
  ul.thumbnails.image_picker_selector li {
    margin: 0px 12px 12px 0px;
    float: left; 
    height: 64px;
    width: 64px;}
    ul.thumbnails.image_picker_selector li .thumbnail {
      padding: 6px;
      border: 1px solid #dddddd;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      ul.thumbnails.image_picker_selector li .thumbnail img {
        -webkit-user-drag: none; }
    ul.thumbnails.image_picker_selector li .thumbnail.selected {
      background: #53d1d2; 
      color: #fff;}
